

<h1>注文履歴詳細</h1>



<table class="table">
    <tr>
        <th>購入者</th>
        <td>
          <%= @order.customer.last_name %>
          <%= @order.customer.first_name %>
        </td>
    </tr>
    <tr>
        <th>注文日</th>
        <td><%= @order.created_at %></td>
    </tr>
    <tr>
        <th>配送先</th>
        <td>
          <%= @order.address %>
          <%= @order.name %>
        </td>
    </tr>
    <tr>
        <th>支払方法</th>
        <td></td>
    </tr>
    <tr>
        <th>注文ステータス</th>
        <td>
          <%= select :sataus, :name, Order.statuses.keys.to_a %>
        </td>
    </tr>
</table>

<div class = "row">
    <div class = "col-9">
        <table class="table table-bordered">
            <thead>
                <th>商品名</th>
                <th>単価（税込）</th>
                <th>数量</th>
                <th>小計</th>
                <th>製作ステータス</th>
            </thead>
            <% @ordered_items.each do |ordered_item| %>
              <tbody>
                <td><%= ordered_item.item_id %></td>
                <td><%= ordered_item.price %></td>
                <td><%= ordered_item.amount %></td>
                <% subtotal = (ordered_item.price*ordered_item.amount).to_i %>
                <td><%= subtotal %></td>
                <td>
                    <%= select :making_status, :name, OrderItem.making_status.keys.to_a %>
                </td>
            <% end %>
            </tbody>
        </table>
    </div>
</div>

