<h1>Admin::Orders#show</h1>
<p>Find me in app/views/admin/orders/show.html.erb</p>


<h1>注文履歴詳細</h1>

<table class="table">
    <thead>
      <tr>
        <th>購入者</th>

        <th>注文日</th>

        <th>配送先</th>

        <th>支払方法</th>
        
        <th>注文ステータス</th>
      </tr>
    </thead>


<tbody>
<% @orders.each do |order| %>
    <tr>
      <td><%= order.customer %></td>

      <td><%= order.created_at %></td>

      <td><%= order.address %></td>

      <td><%= order.payment_method %></td>
      
      <td>
        <%= form_with model: @order, url: admin_order_path(@order),method: :patch do |f| %>
 <form>
<div class="form-group">
    <label>注文ステータス</label>
  <select class="form-control">
    <option>入金待ち</option>
    <option>入金確認</option>
    <option>制作中</option>
    <option>発送準備中</option>
    <option>発送済み</option>
  </select>
</div>
</form>
      </td>
      
<% end %>
    </tbody>
</table>









