

<h1>注文履歴詳細</h1>



<table class="table">
    <thead>
      <tr>
        <th>購入者</th>
        <td>
          <%= @order.customer.last_name %>
          <%= @order.customer.first_name %>
        </td>

        <th>注文日</th>
        <td><%= @order.created_at %></td>

        <th>配送先</th>
        <td>
          <%= @order.address %>
          <%= @order.name %>
        </td>

        <th>支払方法</th>


        <th>注文ステータス</th>
        <%= select :sataus, :name, Order.statuses.keys.to_a %>
        <%= select :status, :name, Order.statuses.values.to_a %>
      </tr>
    </thead>


<tbody>
  <table class="table table-bordered">
   <thead>
     <tr>
       <th>商品名</th>
       <th>単価（税込）</th>
       <th>数量</th>
       <th>小計</th>
       <th></th>
     </tr>
   </thead>
    <% @ordered_items.each do |ordered_item| %



    </tbody>
</table>
</div>



<div class = "col-md-4"></div>
<h3>合計金額 <%= order.price %> 円</h3>
<h3>送料 <%= order.shipping_cost %> 円</h3>
<h3>請求金額 <%= order.total_payment %> 円</h3>



</div>
</div>
</div>




