<h1>Admin::Genres#index</h1>
<p>Find me in app/views/admin/genres/index.html.erb</p>

<body>
  
  <h1></h1>

<%= form_with model: @genrenew do |f| %>
  <label for="inputTitle">Title</label><br>
  <%= f.text_field :title, autofocus: true, id:"inputTitle", placeholder:"Title"%><br>

  <label for="inputOpinion">Opinion</label><br>
  <%= f.text_area :body, autofocus: true, id:"inputOpinion", placeholder:"Opinion"%><br>

  <%= f.submit 'Create Book',class: "btn btn-success" %>
<% end %>
</div>

  
  
  

  <div class = "row">
    <%= link_to edit_user_path(@user.id), class: "btn btn-outline-secondary btn-block edit_user_48773" do %>
    <i class="fas fa-user-cog"></i>
    <% end %>
</div>



<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>ジャンル</th>
      </tr>
    </thead>

<tbody>
  <tr>
      <td><%= link_to user_path(@user.id) do %>
    <%= image_tag @book.user.get_profile_image(100, 100) %>
  <% end %>

  <%= link_to user_path(@user.id) do %>
  <%= @user.name %>
  <% end %>
      </td>

      <td>
      <%= link_to book_path(@book.id) do %>
      <%= @book.title %>
      <% end %>
      </td>



      <td><%= @book.body %></td>

        <td>
          <% if  @book.user == current_user %>
       <%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-sm btn-success" %>

       </td>
        <td>
      <%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか?", class: "btn btn-sm btn-danger" %>
        </td>
        <% end %>




      <td></td>
    </tr>
  
  



  </tbody>

</table>
</div>
  </body>
